button{
    background-color: blue;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover{
    background-color: brown;
    color: black;
}

.container p:first-child{
    color: blue;
}

.container p:nth-child(even){
    background-color: crimson;
}
.container p:nth-child(odd){
    background-color: blue;
}
input:focus{
    outline: none;
    border: 1px;
}
a:active{
    color: brown;
    background-color: blueviolet;
}

::selection{
    background-color: ;
}

h1 {
  position: static;
  top: 80%;
  right: 50%;
}

li::marker{
    content: "icon";
    color: gold;
}

input::placeholder{
    color: brown;
    font-style: italic;
}